<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- seo -%}
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <link rel="shortcut icon" href="{{ "/favicon.ico" | relative_url }}">
    <link type="application/atom+xml" rel="alternate" href="{{ "/feed.xml" | relative_url }}" title="{{ site.title }}">
  </head>
  <body>
    <header class="site-header" role="banner">
      {% include header.html %}
    </header>

    <main class="page-content" aria-label="Content">
      {{ content }}
    </main>

    <footer class="site-footer h-card">
      {% include footer.html %}
    </footer>

    <script src="{{ '/assets/js/toc.js' | relative_url }}"></script>
  </body>
</html>
